<nb-layout hidden>
  <nb-layout-column></nb-layout-column>
</nb-layout>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
<!-- Go ogle fonts-->
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: #ADADAD;">
  <button class="navbar-toggler btn btn-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" style="background-color: white;" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" routerLink="/login-register">
    Login / Registro
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" style="font-size: large; color: black;" routerLink="/login-register">Login / registro <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<!-- Masthead-->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Proyecto S.I.A</h1>
    </div>
  </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">
          SISTEMA GESTOR DE TRAFICO VEHICULAR PARA APOYAR AL CUMPLIMIENTO DE LAS NORMAS DE TRANSITO Y LA PRESERVACIÓN DEL ORDEN PUBLICO</h2>
        <p class="text-white-50"></p>
      </div>
    </div>
    <img class="img-fluid" src="https://www.paginasiete.bo/u/fotografias/m/2020/3/29/f800x450-306414_357860_5050.jpg" alt="" />
  </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
  <div class="container">
    <!-- Featured Project Row-->
    <!-- Project One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6"><img class="img-fluid" src="https://www.paginasiete.bo/u/fotografias/m/2020/3/29/f800x450-306414_357860_5050.jpg" alt="" /></div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Objetivo</h4>
              <p class="mb-0 text-white-50">sistema gestor de tránsito vehicular para apoyar al cumplimiento de las normas de tránsito y preservación del orden púbico</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6"><img class="img-fluid" src="https://sites.google.com/site/proyectomendicidad2012/_/rsrc/1472866830955/justificacion/5609b53597415a46223ae370291d1746.jpg?height=283&width=400" alt="" /></div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Justificación social</h4>
              <p class="mb-0 text-white-50">Con la ayuda del presente proyecto se logrará concientizar a la población paceña al cumplimiento de las señales del semáforo a su vez preservando la seguridad ciudadana</p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Dirección</h4>
            <hr class="my-4" />
            <div class="small text-black-50">Calle Héroes del Acre No. 1855 esquina Landaeta</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4" />
            <div class="small text-black-50"><a href="#!">unifranz@unifranz.edu.bo</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Telefono</h4>
            <hr class="my-4" />
            <div class="small text-black-50">+591 (2) 2487700</div>
          </div>
        </div>
      </div>
    </div>
    <div class="social d-flex justify-content-center">
      <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
      <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
      <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
    </div>
  </div>
</section><!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
  <div class="container">Copyright © Proyecto SIA 2020</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Core theme JS-->
<script>
  /*!
  * Start Bootstrap - Grayscale v6.0.3 (https://startbootstrap.com/theme/grayscale)
  * Copyright 2013-2020 Start Bootstrap
  * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-grayscale/blob/master/LICENSE)
  */
  (function ($) {
    "use strict"; // Start of use strict

    // Smooth scrolling using jQuery easing
    $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function () {
      if (
        location.pathname.replace(/^\//, "") ==
        this.pathname.replace(/^\//, "") &&
        location.hostname == this.hostname
      ) {
        var target = $(this.hash);
        target = target.length
          ? target
          : $("[name=" + this.hash.slice(1) + "]");
        if (target.length) {
          $("html, body").animate(
            {
              scrollTop: target.offset().top - 70,
            },
            1000,
            "easeInOutExpo"
          );
          return false;
        }
      }
    });

    // Closes responsive menu when a scroll trigger link is clicked
    $(".js-scroll-trigger").click(function () {
      $(".navbar-collapse").collapse("hide");
    });

    // Activate scrollspy to add active class to navbar items on scroll
    $("body").scrollspy({
      target: "#mainNav",
      offset: 100,
    });

    // Collapse Navbar
    var navbarCollapse = function () {
      if ($("#mainNav").offset().top > 100) {
        $("#mainNav").addClass("navbar-shrink");
      } else {
        $("#mainNav").removeClass("navbar-shrink");
      }
    };
    // Collapse now if page is not at top
    navbarCollapse();
    // Collapse the navbar when page is scrolled
    $(window).scroll(navbarCollapse);
  })(jQuery); // End of use strict

</script>
